/* font-family: 'Nova Square', sans-serif;
font-family: 'Nova Square', sans-serif;
font-family: 'Rajdhani', sans-serif; */
/* Color: darkred; 
Color: #C67F7F;
Color: #ececec; */

*{
    font-family: 'Rajdhani', sans-serif;
}

h1,h2,h3,h4{
    font-family: 'Nova Square', sans-serif;
}

:root{
    --color-primary: #C67F7F;
    --color-secondary: #ececec;
    --color-tertiary: darkred;
}

.text-p{
    color: var(--color-primary);
}

.text-s{
    color: var(--color-secondary);
}

.text-t{
    color: var(--color-tertiary);
}

.colore-nav{
    background-color: white;
}

.contenitoreLogo{
    display: flex;
    justify-content: center;
}

.link-navbar{
    text-decoration: none;
    color: gray;
}

.ImmagineBackgroundHeader{
    height: 100vh;
    background: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)), url(./media/switzerland-862870_1920.jpg);
    background-size: cover;
    background-position: center;
}

.TitoloHeader{
    Color: darkred;
    font-size: 50px;
    letter-spacing: 80px;
}

.montagne-bianche{
    
    position: absolute;
    /* top: -90vh; */
    bottom: 0;
    

}

.apici::after{
    content: '"';
    font-family: 'Rajdhani', sans-serif;
    font-weight: bold;
    color: darkred;
    font-size: 50px;
    position: absolute;
    bottom: -50px;
    right: 40px;
}

.apici::before{
    content: '"';
    font-family: 'Rajdhani', sans-serif;
    font-weight: bold;
    color: darkred;
    font-size: 50px;
    position: absolute;
    top: -20px;
    left: -10px;
}

.spaziatura{
    height: 10vh;
    width: 100%;
}


.col-custom{
    border-bottom: 3px solid darkred;
    

}

.cerchietto{
    position: absolute;
    bottom: -11%;
    height: 20px;
    width: 20px;
    background-color: white;
    border: 2px solid darkred;
    border-radius: 50%;
}



.backgroundbottone{
    height: 50vh;
    background-image: url(./media/trees2.png);
    background-size: cover;
    background-position: center;
}

.bottone{
    background-color: darkred;
    color: white;
    border: 0;
    font-weight: bold;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 5%;
    padding-right: 5%;
}

.background-bianco{
    background-color: white;
    padding-top: 3%;
}

.bordo{
    border-left: 2px solid darkred;
}

.circoletto{
    height: 15px;
    width: 15px;
    border: 1px solid darkred;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    left: -8px;
}

.tre-alberi{
    position: absolute;
    bottom: 0;
    right: 0;
}

/* .posizione-tre-alberi{
    
    position: absolute;
    top: -470px;
    right: 0%;
} */

.Immagine-team{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 3px solid darkred;
    padding: 10px;
}

.immagine-benefit{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border: 3px solid var(--color-tertiary);
    padding: 10px;
}

.alberi-rossi{
    height: 62vh;
    width: 100%;
    background-image: url(./media/other.png);
    background-size: cover;

}
