/* font-family: 'Nova Square', sans-serif;
font-family: 'Nova Square', sans-serif;
font-family: 'Rajdhani', sans-serif; */
/* Color: darkred; 
Color: #C67F7F;
Color: #ececec; */

*{
    font-family: 'Rajdhani', sans-serif;
}

h1,h2,h3,h4{
    font-family: 'Nova Square', sans-serif;
}
.contenitoreLogo{
    display: flex;
    justify-content: center;
}

.link-navbar{
    text-decoration: none;
    color: gray;
}

.ImmagineBackgroundHeader{
    height: 100vh;
    background-image: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0)), url(./media/switzerland-862870_1920.jpg);
    background-size: cover;
    background-position: center;
}

.TitoloHeader{
    Color: darkred;
    font-size: 50px;
    letter-spacing: 80px;
}

.montagne-bianche{
    position: absolute;
    bottom: 0;

}

.apici::after{
    content: '"';
    font-family: 'Rajdhani', sans-serif;
    font-weight: bold;
    color: darkred;
    font-size: 50px;
    position: absolute;
    bottom: -50px;
    right: 40px;
}

.apici::before{
    content: '"';
    font-family: 'Rajdhani', sans-serif;
    font-weight: bold;
    color: darkred;
    font-size: 50px;
    position: absolute;
    top: -20px;
    left: -10px;
}

.backgroundbottone{
    height: 50vh;
    background-image: url(./media/trees2.png);
}

.bottone{
    background-color: darkred;
    color: white;
    font-weight: bold;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 5%;
    padding-right: 5%;
}